<!doctype html>
<html>
<head>
<title>Delete Restuarant</title>
<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<h2>Delete Restaurant</h2>
<table class="form">
  <tr>
    <th colspan="2">Delete Restaurant?</th>
  </tr>
  <tr>
    <td class="action"><form name="delete"><input type="submit" name="btnDelete" value="delete"></td></form>
	<form name="delete" method="GET" action="#"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>