<!doctype html>
<html>
<head>
<title>Delete Restuarant</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Delete Restaurant</h2>
<form name="delete" method="post">
<table class="form">
  <tr>
    <th colspan="2">Delete {{ restaurant.name }}?</th>
  </tr>
  <tr>
    <td class="action"><input type="submit" name="btnDelete" value="delete"></td></form>
	<form name="delete" method="get" action="../../"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>