<!doctype html>
<html>
<head>
<title>Edit Menu Item</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>Edit Menu Item</h2>
<form name="edit" method="post">
<table class="form">
  <tr>
    <th colspan="2">Edit Item?</th>
  </tr>
  <tr>
    <td>Name:</td>
	<td><input type="text" name="name" value="{{ item.name }}">
  </tr>
  <tr>
    <td>Price:</td>
	<td><input type="text" name="price" value="{{ item.price }}">
  </tr>
  <tr>
   <td>Course:</td>
	<td><input type="text" name="course" value="{{ item.course }}">
  </tr>
  <tr>
    <td colspan="2">Description:</td>
  </tr>
  <tr>
	<td colspan="2"><textarea rows="4" cols="40" name="description">{{ item.description }}</textarea></td>
  </tr>
  <tr>
    <td class="action"><input type="submit" name="btnSave" value="save"></td></form>
	<form name="cancel" method="GET" action="#"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>