<!doctype html>
<html>
<head>
<title>Edit Restaurant</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>Edit Restaurant</h2>
<table class="form">
  <tr>
    <td>Name:</td>
	<td><input type="text" name="item_name" value="{{ restaurant.name }}">
  </tr>
  <tr>
    <td class="action"><form name="edit"><input type="submit" name="btnDelete" value="save"></td></form>
	<form name="cancel" method="GET" action="#"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>