<!doctype html>
<html>
<head>
<title>Add Menu Item</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>Add Menu Item</h2>
<table class="form">
  <tr>
    <td>Name:</td>
	<td><input type="text" name="item_name">
  </tr>
  <tr>
    <td>Price:</td>
	<td><input type="text" name="item_price">
  </tr>
  <tr>
    <td colspan="2">Description:</td>
  </tr>
  <tr>
	<td colspan="2"><textarea rows="4" cols="40" name="item_description">{text here}</textarea></td>
  </tr>
  <tr>
    <td class="action"><form name="edit"><input type="submit" name="btnDelete" value="save"></td></form>
	<form name="cancel" method="GET" action="#"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>