<!doctype html>
<html>
<head>
<title>Add Menu Item</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>Add Menu Item</h2>
<form name="add" method="post">
<input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
<table class="form">
  <tr>
    <td>Name:</td>
	<td><input type="text" name="name">
  </tr>
  <tr>
  <td>Price:</td>
	<td><input type="text" name="price">
  </tr>
   <tr>
  <td>Course:</td>
	<td><input type="text" name="course">
  </tr>
  <tr>
    <td colspan="2">Description:</td>
  </tr>
  <tr>
	<td colspan="2"><textarea rows="4" cols="40" name="description"></textarea></td>
  </tr>
  <tr>
    <td class="action"><input type="submit" name="btnSave" value="save"></td></form>
	<form name="cancel" method="GET" action="#"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>