<!doctype html>
<html>
<head>
<title>Add Restuarant</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Add Restuarant</h2>
<table class="form">
<form name="edit" method="post">
  <tr>
    <td>Name:</td>
	<td><input type="text" name="name">
  </tr>
  <tr>
    <td class="action"><input type="submit" name="btnDelete" value="save"></td></form>
	<form name="cancel" method="get" action="../../"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>