<!doctype html>
<html>
<head>
<title>Add Restuarant</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h2>Add Restuarant</h2>
<table class="form">
  <tr>
    <td>Name:</td>
	<td><input type="text" name="item_name">
  </tr>
  <tr>
    <td class="action"><form name="edit"><input type="submit" name="btnDelete" value="save"></td></form>
	<form name="cancel" method="GET" action="#"><td class="action"><input type="submit" value="cancel"></td></form>
  </tr>
</table>
</body>
</html>