<!doctype html>
<html>
<head>
<title>Restaurants</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Restaurants</h2>
{{ restaurants|length }} restaurants found
<div class="section">
<table class="list">
{% if restaurants|length < 1 %}
  <tr>
    <td>No restaurants were found.</td>
  </tr>
{% else %}
	{% for restaurant in restaurants %}
  <tr>
    <td><a href="restaurant/{{ restaurant.id }}/menu">{{ restaurant.name }}</a></td>
	<td class="action"><a href="/restaurant/{{ restaurant.id }}/edit">edit</a></td>
	<td class="action"><a href="/restaurant/{{ restaurant.id }}/delete">delete</a></td>
  </tr>
	{% endfor %}
{% endif %}
</table>
<a href="/restaurant/new">Add Restaurant</a>
</div>
</body>
</html>